table, th, td {
    font-family:sans-serif;
    font-size:15px;
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
p {
  text-indent: 30px;
}
div.image {
  text-align:  center;
  style:  "overflow:hidden;";
}
